<style>

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 1em;
  /*font-size: 12px;*/
  min-height: 100%;
}

.rackdiv {
  background-color: #bdc3c7;
  margin: 10px;
  padding: 10px;
  float: left;
  width: 30%;

}

.racksize {
    width: 70px;
}

.number {
  float: left;
  width: 50px;
  padding: 0px;
  margin: 0px;
}

.numeral{
  color: #bdc3c7;
  height: 12px;
  padding: 12px;
  list-style-type:none;
  border-style:solid;
}

.oneru {
  text-align:center;
  background: #454544;
  display: block;
  border-style:solid;
  height: 12px;
  padding: 12px;
}

.tworu {
  text-align:center;
  background: #454544;
  display: block;
  border-style:solid;
  height: 54px;
  padding: 12px;
}

.threeru {
  text-align:center;
  background: #454544;
  display: block;
  border-style:solid;
  height: 96px;
  padding: 12px;
}

.switch {
  color: #27ae60;

}

.server {
  color: #3498db;
}

.ups {
  color: #e74c3c;

}

.dpatch {
  color: #9b59b6;
}

.vpatch {
  color: #f1c40f;
}

.fpatch {
  color: #e67e22;
}

.blank{
  color: #CCCCCC;
  background: gray;
}

.misc {
  color: #7f8c8d;
}

button {
  float: right;
  display: inline-block;
  margin: 0 0px 0 0;
  font-size: 14px;
  font-family: "Bitter",serif;
  line-height: 1.8;
  appearance: none;
  box-shadow: none;
  border-radius: 0;
}
button:focus {
  outline: none
}
</style>